<script>
  $(document).ready(function() {
    var vuelo = $("#numVuelo").val();
    var ciudad = $("#ciudad").val();
    var operacion = $("#operacion").val();
    $("#tablaResultadosVuelos").dataTable().fnDestroy();//aca
    var table0 = $('#tablaResultadosVuelos').DataTable({//tablaResultadosVuelos0
      "pageLength": 4,
      "language": {
        "lengthMenu": "Mostrando _MENU_ vuelos",
        "zeroRecords": "No hay vuelos con esos criterios",
        "info": "Mostrando pagina _PAGE_ de _PAGES_",
        "infoEmpty": "No hay vuelos con esos criterios",
        "infoFiltered": "(filtered from _MAX_ total records)"
      },
      "columnDefs": [{
          "searchable": false,
          "targets": 3
        },
        {
          "searchable": false,
          "targets": 4
        },
        {
          "searchable": false,
          "targets": 5
        }, {
          "searchable": false,
          "targets": 6
        },
        {
          "searchable": false,
          "targets": 7
        },
        {
          "searchable": true,
          "targets": 8
        },
        {
          "searchable": false,
          "targets": 9
        }
      ]
    });
    //table.column(0).search(vuelo).draw();
    // #myInput is a <input type="text"> element
    $('#numVuelo').on('keyup', function() {
      table0.column(0).search(this.value).draw();
    });
    $('#ciudad').on('keyup', function() {
      table0.column(1).search(this.value).draw();
    });

    $('#tablaResultadosVuelos0 tbody').on('click', 'td.avion', function() {
      var avion = table0.cell(this).data();
      //matriculaAvion
      document.getElementById('avioncito').click();
      //$("#tabla").dataTable().fnDestroy();

      $('#tablaAvion').DataTable({}).search(avion).draw();
      //$('#modalAvion').modal('show');
      //$('#tablaAvion').DataTable({}).search(avion).draw();
//alert(avion);
    });

    $('#tablaResultadosVuelos0 tbody').on('click', 'td.aerolinea', function() {
      var aerolinea = table0.cell(this).data();
      //$('#nombreCompania').val(aerolinea);

      //var nombre = $("#nombreCompania option:selected").text();
      //$('#compania').val(nombre);

      $("#tabla").dataTable().fnDestroy();
      document.getElementById('x').click();
      //$("#tabla").dataTable().fnDestroy();

      $('#tabla').DataTable({}).search(aerolinea).draw();
      //table.search(aerolinea).draw();
      //
      //$('#modalCompanias').modal('show');
      //$('#tabla').search(nombre).draw();
      //var nombre = $("#nombreCompania option:selected").text();
      //$('#nombreCompania').on('change', function() {
      //});
      //$('#modalCompanias').appendTo("body").modal('toogle');

      //$('#modalCompanias').css('z-index', '1500').modal('show');

    });
    $("#botonCerrarAvion").click(function() {
      $("#tablaAvion").dataTable().fnDestroy();


    });
    $("#botonCerrar").click(function() {
      $("#tabla").dataTable().fnDestroy();
      $("#numVuelo").val('');
      $("#ciudad").val('');
      $("#operacion").val('Selecciona una operación');

    });
    //table.column( 0 ).search($("#numVuelo").val()).column( 1 ).search($("#ciudad").val()).draw();
    /*"aoColumns": [
               { "sName": "Nro. Vuelo" },
               { "sName": "Procedencia" },
               { "sName": "Destino" }
           ]
       } );
       table.fnMultiFilter( { "Nro. Vuelo":$('#numVuelo').val(), "Procedencia":$('#ciudad') } );*/

    $('#formVuelos').on('submit', function(e) {
      e.preventDefault();
      var vuelo = $("#numVuelo").val();
      var ciudad = $("#ciudad").val();
      var operacion = $("#operacion").val();
    });
  });
</script>
<!-- Modal tabla de vuelos -->
<div class="modal fade" id="modalVuelos0" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Resultados de la busqueda</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="tablaResultadosVuelos0" class="table table-striped ui celled table-responsive" style="width:100%;">
          <thead>
            <h4>Vuelos</h4>
            <tr>
              <th>Nro.Vuelo</th>
              <th>Procedencia</th>
              <th>Destino</th>
              <th>Hora</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Embarque</th>
              <th>Desembarque</th>
              <th>Aerolinea</th>
              <th>Avion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AE1678</td>
              <td>New York</td>
              <td>Cordoba</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Aerolineas Argentinas</td>
              <td class="avion">LV-2356</td>
            </tr>
            <tr>
              <td>IB3506</td>
              <td>Cordoba</td>
              <td>Madrid</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>Delayed</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Iberia</td>
              <td class="avion">LV-2335</td>
            </tr>
            <tr>
              <td>RA3506</td>
              <td>Cordoba</td>
              <td>Dublin</td>
              <td>22:46</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Ryan Air</td>
              <td class="avion">LV-3335</td>
            </tr>
            <tr>
              <td>AE1678</td>
              <td>New York</td>
              <td>Cordoba</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Aerolineas Argentinas</td>
              <td>LA-2223</td>
            </tr>
            <tr>
              <td>AE1678</td>
              <td>New York</td>
              <td>Cordoba</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Aerolineas Argentinas</td>
              <td>LA-2222</td>
            </tr>
            <tr>
              <td>AE1678</td>
              <td>New York</td>
              <td>Cordoba</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Aerolineas Argentinas</td>
              <td>LA-2223</td>
            </tr>
            <tr>
              <td>AE1678</td>
              <td>New York</td>
              <td>Cordoba</td>
              <td>15:56</td>
              <td>23/11/20</td>
              <td>On time</td>
              <td>-</td>
              <td>-</td>
              <td class="aerolinea">Aerolineas Argentinas</td>
              <td>LA-2222</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><strong>Nro</strong></th>
              <th><strong>Procedencia</strong></th>
              <th><strong>Destino</strong></th>
              <th><strong>Hora</strong></th>
              <th><strong>Fecha</strong></th>
              <th><strong>Estado</strong></th>
              <th><strong>Embarque</strong></th>
              <th><strong>Desembarque</strong></th>
              <th><strong>Aerolinea</strong></th>
              <th><strong>Avion</strong></th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <div class="primary-button">
          <a  id="botonCerrar" data-dismiss="modal">Cerrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
